.hide{
  display: none;
}
.admin-layout{
  @import "admin/components/logo.scss";
  @import "admin/components/trigger.scss";
  @import "admin/modules/table.scss";
  @import "admin/modules/layout.scss";
  @import "admin/modules/text.scss";
}
