.logo {
  height: 32px;
  &__wrapper{
    background-color: #001529;
    padding: 16px;
  }
}
.ant-layout-sider-collapsed{
  .logo__wrapper{
    overflow: hidden;
  }
  .logo{
    width: 160px;
    left: 10px;
    position: relative;
  }
}
