.a-icon {
  &-container{
    height: 220px;
    position: relative;
    margin: 60px auto;
    zoom: 0.7;
  }
  &-w{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  &-1-f, &-3-f, &-4-f, &-5-f {
    position: relative;
  }
  &-1-b, &-2-b, &-3-b, &-4-b, &-5-b {
    position: absolute;
  }
  &-4-b{
    z-index: 2;
  }
}
