.academy{
  &-section1-heading{
    text-align: center;
    max-width: 200px;
    margin: 0 auto 20px auto;
    @media screen and (min-width: $screen-sm) {
      text-align: left;
      max-width: inherit;
    }
  }
  &-course-step{
    cursor: pointer;
    margin: 20px 0px;
  }
  &-course-mobile-image{
    max-width: 400px;
    margin: 0 auto;
  }
  &-course-numbering{
    line-height: 1;
    font-weight: 300;
  }
  &-course-numbering,&-course-heading,&-course-subheading{
    color: $light-gray-color;
  }
  &-course-subheading{
    display: none;
  }
  &-learn-image{
    max-width: 100px;
    @media screen and (min-width: $screen-xl) {
      max-width: 120px;
    }
    @media screen and (min-width: $screen-xxl) {
      max-width: inherit;
    }
  }
  &-learn{
    position: absolute;
    max-width: 200px;
  }
  &-learn-1{
    left: 10%;
    bottom: 10%;
  }
  &-learn-2{
    left: 20%;
    bottom: 40%;
  }
  &-learn-3{
    left: 41%;
    bottom: 60%;
    @media screen and (min-width: $screen-xxl) {
      left: 45%;
    }
  }
  &-learn-4{
    right: 23%;
    bottom: 43%;
  }
  &-learn-5{
    right: 12%;
    bottom: 8%;
    @media screen and (min-width: $screen-xxl) {
      right: 15%;
    }
  }
  &-learn-mobile-content{
    max-width: 200px;
    margin: 0 auto;
  }
}

.active{
  .academy{
    &-course-heading{
      color: $primary-color;
    }
    &-course-subheading{
      display: block;
    }
  }
}
