.banner{
  &__wrapper{
    position: relative;
    min-height: 570px;
    background-size: cover;
    background-position: center 55%;
    @media screen and (min-width: $screen-xl) {
      min-height: 750px;
    }
    &--custom{
      background-size: auto;
      background-color: #021329;
    }
    &--desktop{
      display: none;
      @media screen and (min-width: $screen-md) {
        display: block;
      }
    }
    &--mobile{
      display: block;
      @media screen and (min-width: $screen-md) {
        display: none;
      }
    }
  }
  &__heading{
    @include font-size($xl-font-sizes);
  }
  &__subheading{
    line-height: 200%;
  }
  &__content-wrapper{
    position: relative;
    top: 120px;
    @media screen and (min-width: $screen-xl) {
      top: 150px;
    }
  }
}
