.card{
  &__content{
    &-container {
      padding: 20px;
      overflow: hidden;
    }
    &-header{
      border-bottom: 1px dotted $primary-color;
      height: 100px;
      overflow: hidden;
    }
  }
  &__cover-image-container{
    min-height: 200px;
    background-size: cover;
    background-position: center center;
  }
  &__date{
    letter-spacing: 1px;
    display: block;
    font-size: 40px;
    &-wrapper{
      text-align: center;
    }
    &-content{
     line-height: 2em;
    }
  }
  &__play-button{
    position: absolute;
    top: 70px;
    left: 40%;
  }
  &__year{
    letter-spacing: 1px;
    display: block;
    font-size: 14px;
  }
  &__title-wrapper{
    padding-left: 12px;
  }
  &__first-col{
    border-right: 1px dotted $primary-color;
  }
  &__description-wrapper{
    padding-top: 12px;
    height: 120px;
  }
  &--multi-asset{
    max-width: 300px;
    @media screen and (min-width: $screen-md) {
      max-width: auto;
    }
    cursor: pointer;
    margin: 0 auto 18px auto;
    .ant-card-body{
      padding: 0;
    }
  }
}
