.ant-carousel {
  .slick-dots {
    bottom: 30px;
    li{
      button{
        width: 40px;
        background-color: $primary-color;
      }
      &.slick-active button{
        background-color: $primary-color;
        width: 40px;
      }
    }
  }
  .slick-prev, .slick-next{
    z-index: 9999;
    &:before{
      border: solid $primary-color;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 10px;
    }
  }
  .slick-prev{
    left: 25px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .slick-next{
    right: 25px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
