.course {
  &-animate {
    position: absolute;
    max-width: 100%;
    opacity: 0;
    left: 0;
  }
  &-moving {
    opacity: 0;
    position: relative;
  }
  &-1 {
    &-logo {
      position: relative;
      top: -40px;
    }
  }
  &-1, &-2, &-3, &-4 {
    position: relative;
    left: -100px;
    height: 600px;
    @media screen and (min-width: 1440px) {
      left: -150px;
    }
    @media screen and (min-width: 1900px) {
      left: -200px;
    }
  }
  &-floor-light{
    z-index: 1;
  }
  &-2-visitor,
  &-4-dollar{
    z-index: 2;
  }
}
