.custom-banner{
  width: 100%;
  &__wrapper{
    position: relative;
    width: 50%;
    left: 50%;
    top: -250px;
  }
  &__logo{
    top: 150px;
    left: 420px;
    position: absolute;
  }
  &__box{
    &--5{
      position: absolute;
      left: -100px;
    }
    &--6{
      position: absolute;
      top: 100px;
      left: 550px;
    }
  }
}
