.hero-banner{
  background-color: #021329;
  background-size: cover;
  background-position: center 100%;
  min-height: 500px;
  &__heading{
    margin-bottom: 5px;
  }
  &_subheading{
    margin-top: 25px;
  }
  > div {
    .ie & {
      position: relative;
      top: 200px;
    }
  }
}

