.misc {
  &-home-section-heading {
    max-width: 1400px;
    margin: 0;
  }
  &-home-academy-section{
    background-color: $white-color;
    @media screen and (min-width: $screen-sm) {
      padding-bottom: 100px;
    }
  }
  &-risk-profile-computer {
    position: absolute;
    bottom: 0%;
    display: none;
    @media screen and (min-width: $screen-sm) {
      display: block;
      max-width: 450px;
      left: -100px;
    }
    @media screen and (min-width: $screen-md) {
      display: block;
      max-width: 550px;
      left: -100px;
    }
    @media screen and (min-width: $screen-lg) {
      display: block;
      max-width: 700px;
      left: -150px;
    }
    @media screen and (min-width: $screen-xl) {
      display: block;
      max-width: 700px;
      left: 0px;
    }
  }
  &-home-platform-computer {
    position: absolute;
    right: 5%;
    bottom: -23rem;
    display: none;
    @media screen and (min-width: $screen-sm) {
      display: block;
      bottom: -15rem;
      max-width: 600px;
    }
    @media screen and (min-width: $screen-lg) {
      bottom: -18rem;
      max-width: 700px;
    }
    @media screen and (min-width: $screen-xl) {
      bottom: -23rem;
      max-width: 900px;
    }
  }
  &-home-risk-profile-section {
    background-size: cover;
    background-image: url('../images/Slicing-07.jpg');
    @media screen and (min-width: $screen-lg) {
      min-height: 470px;
    }
  }
  &-home-platform-section {
    padding-bottom: 2rem;
    @media screen and (min-width: $screen-sm) {
      padding-bottom: 7rem;
    }
    @media screen and (min-width: $screen-lg) {
      padding-bottom: 9rem;
    }
    @media screen and (min-width: $screen-xl) {
      padding-bottom: 11rem;
    }
  }
  &-home-news-section {
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url('../images/Slicing-04.png');
    @media screen and (min-width: $screen-xl) {
      background-size: 400px;
    }
  }
  &-about-section1{
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 80%;
    background-image: url('../images/Slicing-22.png');
    padding-bottom: 250px;
    @media screen and (min-width: $screen-md) {
      padding-bottom: 350px;
    }
    @media screen and (min-width: $screen-lg) {
      padding-bottom: 450px;
    }
  }
  &-footer-register-link{
    border-bottom: 1px solid #cbcdce;
    @media screen and (min-width: $screen-md) {
      border-right: 1px solid #cbcdce;
      border-bottom: 0px;
    }
  }
  &-about-dots-bg{
    background-image: url('../images/Slicing-27.png');
    background-repeat: no-repeat;
    padding-bottom: 130px;
    background-size: 300px auto;
    background-position: left 98%;
    @media screen and (min-width: $screen-sm) {
      background-position: left 95%;
      padding-bottom: 130px;
      background-size: 300px auto;
    }
    @media screen and (min-width: $screen-lg) {
      padding-bottom: 200px;
      background-size: 400px auto;
    }
    @media screen and (min-width: $screen-xl) {
      padding-bottom: 260px;
      background-size: 600px auto;
    }
  }
  &-about-product-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url('../images/Slicing-23.jpg');
    background-repeat: no-repeat;
    background-position: 30% bottom;
    @media screen and (min-width: $screen-sm) {
      padding-top: 160px;
      padding-bottom: 160px;
      background-position: 20% bottom;
    }
    @media screen and (min-width: $screen-md) {
      background-position: 30% bottom;
    }
    @media screen and (min-width: $screen-lg) {
      padding-top: 250px;
      background-position: 30% bottom;
      padding-bottom: 250px;
    }
    @media screen and (min-width: $screen-xl) {
      background-position: 34% bottom;
    }
  }
  &-about-icon-1{
    position: absolute;
    width: 300px;
    @media screen and (min-width: $screen-lg) {
      width: 70%;
      max-width: 400px;
    }
    @media screen and (min-width: $screen-xl) {
      width: 80%;
      max-width: 350px;
    }
    @media screen and (min-width: $screen-xxl) {
      width: 80%;
      max-width: 400px;
    }
  }
  &-about-icon-2{
    position: absolute;
    width: 300px;
    @media screen and (min-width: $screen-lg) {
      width: 70%;
      max-width: 400px;
    }
    @media screen and (min-width: $screen-xl) {
      width: 80%;
      max-width: 350px;
    }
    @media screen and (min-width: $screen-xxl) {
      width: 80%;
      max-width: 400px;
    }
  }
  &-about-product-list {
    max-width: 800px;
  }
  &-about-product-list-heading {
    line-height: 1rem;
  }
  &-about-product-list-item{
    max-width: 330px;
    margin: 0 auto;
  }
  &-about-product-list-heading-section {
    padding-bottom: 20px;
    @media screen and (min-width: $screen-md) {
      text-align: right;
      padding-right: 50px;
      top: -5px;
    }
  }
  &-about-vision-section {
    padding-top: 80px;
    padding-bottom: 80px;
    @media screen and (min-width: $screen-sm) {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &-platform-pro-section{
    padding-top: 80px;
    padding-bottom: 20px;
    @media screen and (min-width: $screen-sm) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
  &-platform-computer{
    position: absolute;
    top: -350px;
    left: 0;
    display: none;
    @media screen and (min-width: $screen-sm) {
      display: block;
      max-width: 400px;
      top: -150px;
    }
    @media screen and (min-width: $screen-md) {
      max-width: 500px;
      top: -200px;
    }
    @media screen and (min-width: $screen-lg) {
      max-width: 600px;
      top: -250px;
    }
    @media screen and (min-width: $screen-xl) {
      max-width: 750px;
      top: -300px;
    }
    @media screen and (min-width: $screen-xxl) {
      display: block;
      max-width: 900px;
      top: -350px;
    }
  }
  &-platform-device-list{
    max-width: 350px;
    li{
      margin-bottom: 10px;
    }
  }
  &-platform-middle-section{
    padding-bottom: 80px;
    @media screen and (min-width: $screen-sm) {
      padding-bottom: 100px;
    }
  }
  &-platform-device-section{
    padding-top: 80px;
    padding-bottom: 80px;
    @media screen and (min-width: $screen-sm) {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &-product-description-section{
    padding-top: 80px;
    padding-bottom: 160px;
    @media screen and (min-width: $screen-sm) {
      padding-top: 100px;
      padding-bottom: 190px;
    }
    @media screen and (min-width: $screen-xl) {
      padding-top: 160px;
      padding-bottom: 250px;
    }
  }
  &-product-dots-bg{
    background-image: url('../images/Slicing-27.png');
    background-repeat: no-repeat;
    padding-bottom: 130px;
    background-size: 300px auto;
    background-position: left 95%;
    @media screen and (min-width: $screen-sm) {
      background-position: left 85%;
      padding-bottom: 130px;
      background-size: 300px auto;
    }
    @media screen and (min-width: $screen-lg) {
      padding-bottom: 200px;
      background-size: 400px auto;
    }
    @media screen and (min-width: $screen-xl) {
      padding-bottom: 260px;
      background-size: 600px auto;
    }
  }
  &-news-dots-bg{
    background-image: url('../images/Slicing-27.png');
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-position: left 95%;
    @media screen and (min-width: $screen-sm) {
      background-position: left 85%;
      background-size: 300px auto;
    }
    @media screen and (min-width: $screen-lg) {
      background-size: 400px auto;
    }
    @media screen and (min-width: $screen-xl) {
      background-size: 600px auto;
    }
  }
  &-about-video{
    margin: 0 auto;
    max-width: 800px;
    border-radius: 10px;
    height: 230px !important;
    background-color: $alto-color;
    @media screen and (min-width: $screen-sm) {
      height: 350px !important;
      max-width: 600px;
    }
    @media screen and (min-width: $screen-lg) {
      height: 498px !important;
      max-width: 800px;
    }
    &-container{
      position: absolute;
      top: -270px;
      width: 100%;
      padding: 0 15px;
      @media screen and (min-width: $screen-sm) {
        top: -450px;
      }
      @media screen and (min-width: $screen-lg) {
        top: -600px;
      }
    }
  }
  &-knowledge-dots-bg{
    background-color: $white-color;
    background-image: url('../images/Slicing-27.png');
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-position: left 95%;
    min-height: 400px;
    @media screen and (min-width: $screen-sm) {
      background-position: left 85%;
      background-size: 300px auto;
    }
    @media screen and (min-width: $screen-lg) {
      background-size: 400px auto;
    }
    @media screen and (min-width: $screen-xl) {
      background-size: 600px auto;
    }
  }
  &-home-partnership-list-item{
    padding-bottom: 40px;
    @media screen and (min-width: $screen-xl) {
      padding-bottom: 60px;
    }
  }
  &-platform__device-container{
    max-width: 540px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &-education-dots-bg{
    background-color: $white-color;
    background-image: url('../images/Slicing-27.png');
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-position: left 20%;
    height: 300px;
    position: absolute;
    width: 100%;
    @media screen and (min-width: $screen-sm) {
      background-position: left 20%;
      background-size: 300px auto;
    }
    @media screen and (min-width: $screen-lg) {
      background-size: 400px auto;
      height: 500px;
    }
    @media screen and (min-width: $screen-xl) {
      background-size: 600px auto;
    }
  }
  &-education-small-video{
    border-radius: 10px;
    background-color: $alto-color;
    height: 230px !important;
  }
  &-academy-elitebiz-logo{
    max-width: 250px;
    padding-top: 20px;
  }
  &-home-academy-description{
    @media screen and (min-width: $screen-sm) {
      max-width: 400px;
    }
    @media screen and (min-width: $screen-lg) {
      max-width: 600px;
    }
    @media screen and (min-width: $screen-xxl) {
      max-width: 850px;
    }
  }
  &-home-academy-elitebiz-logo{
    position: absolute;
    right: 5%;
    bottom: 100px;
    display: none;
    @media screen and (min-width: $screen-sm) {
      display: block;
    }
    @media screen and (min-width: $screen-md) {
      max-width: 300px;
    }
    @media screen and (min-width: $screen-lg) {
      max-width: inherit;
    }
  }
  &-education-video{
    border-radius: 10px;
    height: 230px !important;
    background-color: $alto-color;
    @media screen and (min-width: $screen-sm) {
      height: 350px !important;
      max-width: 600px;
    }
    @media screen and (min-width: $screen-lg) {
      height: 498px !important;
      max-width: 800px;
    }
    &-container{
      margin: 0 auto;
      max-width: 800px;
      text-align: center;
    }
  }
  &-academy-learn-mobile-content{
    padding-top: 120px;
  }
  &-academy-course-section{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #021329;
    background-position: center center;
    background-image: url('../images/bg-academy-course.jpg');
    @media screen and (min-width: $screen-lg) {
      background-image: url('../images/Slicing-61.jpg');
    }
    .slick-dots{
      bottom: -30px !important;
    }
  }
  &-academy-hand-countdown{
    position: absolute;
    right: 0px;
    @media screen and (min-width: $screen-lg) {
      max-width: 300px;
      top: 440px;
    }
    @media screen and (min-width: $screen-xl) {
      max-width: 380px;
      top: 410px;
    }
    @media screen and (min-width: $screen-xxl) {
      max-width: inherit;
      top: 370px;
    }
  }
  &-academy-form-section{
    overflow: hidden;
    position: relative;
    @media screen and (min-width: $screen-lg) {
      padding-bottom: 100px;
    }
  }
  &-academy-learn-heading-container{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 100px;
    @media screen and (min-width: $screen-sm) {
      bottom: 50px;
    }
    @media screen and (min-width: $screen-md) {
      bottom: 70px;
    }
    @media screen and (min-width: $screen-lg) {
      bottom: 80px;
    }
    @media screen and (min-width: $screen-xxl) {
      bottom: 100px;
    }
  }
  &-academy-learn-mobile-section{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 75%;
    background-image: url('../images/bg-academy-learn.jpg');
    background-color: #050E1E;
    padding: 80px 0px;
    @media screen and (min-width: $screen-sm) {
      background-size: auto 100%;
    }
  }
  &-academy-learn-section{
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
    background-color: #050E1E;
    background-image: url('../images/Slicing-62.jpg');
    height: 800px;
    position: relative;
  }
  &-badge{
    &-large{
      position: relative;
      top: -40px;
    }
    &-small{
      position: relative;
      top: -12px;
      width: 30px;
    }
  }
}
