.numbering{
  &--left{
    position: relative;
    @include font-size($h1-font-sizes);
    @media screen and (min-width: $screen-xl) {
      position: absolute;
      letter-spacing: normal;
      left: -10%;
      font-size: 320px;
    }
  }
  &-01{
    color: $white-color;
    z-index: -1;
    @media screen and (min-width: $screen-xl) {
      top: -120px;
    }
  }
  &-05{
    color: $white-color;
    @media screen and (min-width: $screen-xl) {
      top: 0px;
    }
  }
  &-02{
    color: $shark-color;
    z-index: -1;
  }
  &-03{
    z-index: -1;
    @media screen and (min-width: $screen-xl) {
      top: -20px;
    }
  }
  &-04{
    z-index: -1;
    @media screen and (min-width: $screen-xl) {
      top: -20px;
    }
  }
  &-05{
    color: #2f3339;
    z-index: -1;
  }
  &--right{
    position: relative;
    @include font-size($h1-font-sizes);
    @media screen and (min-width: $screen-xl) {
      position: absolute;
      letter-spacing: normal;
      top: 0;
      right: -3%;
      font-size: 320px;
    }
  }
}
