.product-box {
  height: 400px;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  @media screen and (max-width: $screen-xs) {
    .product-box__content-wrapper {
      top: 60%;
    }
    -webkit-filter: none;
    filter: none;
  }
  &:hover {
    -webkit-filter: none;
    filter: none;
  }
  &__content-wrapper {
    width: 100%;
    position: absolute;
    transition: top 0.5s $ease-out;
    top: 90%;
    @media screen and (min-width: $screen-xl) {
      top: 85%;
    }
  }
  &__heading {
    color: $white-color;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  &__subHeading {
    padding: 1.5em;
    background: orange;
    margin-bottom: 0;
    min-height: 150px;
    @media screen and (min-width: $screen-sm) {
      padding: 1rem 1rem 2rem 3rem;
    }
    @media screen and (min-width: $screen-xl) {
      min-height: 200px;
    }
  }
  &:hover {
    .product-box__content-wrapper {
      top: 60%;
      @media screen and (min-width: $screen-xl) {
        top: 55%;
      }
    }
  }
}
