.product-tab {
  .ant-tabs-bar {
    margin-bottom: 0;
  }
  .ant-tabs-nav-container {
    text-align: center;
    background-color: $primary-color;
    color: $madison-color;
  }
  .ant-tabs-nav {
    .ant-tabs-tab {
      text-align: center;
      @include font-size($h4-font-sizes);
      padding: 36px 16px;
    }
  }
  .ant-tabs-tab:hover {
    color: $white-color;
  }
  .ant-tabs-ink-bar {
    background-color: transparent;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color: $madison-color;
    bottom: 0;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid black;
      position: absolute;
      bottom: 0;
      left: 40%;
    }
  }
  &.partnership-tab {
    .ant-tabs-tab{
      letter-spacing: 1px;
    }
    .custom-list-style{
      margin-left: -10px;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      &:after {
        border-bottom: 15px solid #f0f2f5;
      }
    }
  }
  &-product-bg {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    height: 700px;
    overflow: hidden;
  }
  &-right-copy-wrapper {
    padding: 60px 30px;
    @media screen and (min-width: $screen-md) {
      padding-top: 100px;
      padding-left: 20%;
      padding-bottom: 100px;
    }
  }
  &-right-content-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    height: 100%;
    @media screen and (min-width: $screen-md) {
      background-position: 50% center;
    }
    @media screen and (min-width: $screen-lg) {
      background-position: 80% center;
    }
  }
}
