.risk-profile{
  &__next-button{
    margin-top: 50px;
  }
  &__step-counter{
    @include font-size($h1-font-sizes);
    letter-spacing: 1px;
    @media screen and (min-width: $screen-md) {
      transform: rotate(270deg);
      position: absolute;
      right: -25px;
      top: 60px;
    }
    @media screen and (min-width: $screen-lg) {
      right: -20px;
      top: 60px;
    }
  }
  &-modal{
    background-image: url('../images/Slicing-00.jpg');
    .ant-modal{
      margin: 0;
    }
    .ant-modal-content,
    .ant-modal-body{
      background: transparent;
    }
    .ant-radio-group{
      margin-top: 50px;
    }
    .ant-radio-wrapper{
      margin-bottom: 30px;
      white-space: normal;
      @include font-size($h5-font-sizes);
    }
    .ant-modal-close-x:before{
      font-size: 30px;
      color: $white-color;
      margin-top: 15px;
      margin-right: 20px;
    }
  }
  &__graph{
    &-heading{
      z-index: 2;
      position: absolute;
      white-space: nowrap;
      font-size: 10px;
      &-1{
        top: 70px;
        left: 64px;
      }
      &-2{
        top: 50px;
        left: 130px;
        @media screen and (min-width: $screen-sm) {
          left: 142px;
        }
      }
      &-3{
        top: 150px;
        left: 119px;
      }
      &-4{
        top: 50px;
        left: -40px;
      }
      &-5{
        top: 150px;
        left: 19px;
      }
      &-6{
        top: -20px;
        left: 64px;
      }
    }
    &-container{
      -moz-transform: scale(1.6); /* Firefox */
      -o-transform: scale(1.6); /* Opera */
      -webkit-transform: scale(1.6); /* Safari And Chrome */
      transform: scale(1.6); /* Standard Property */
      position: relative;
      left: 0;
      @media screen and (min-width: $screen-sm) {
        -moz-transform: scale(2.2); /* Firefox */
        -o-transform: scale(2.2); /* Opera */
        -webkit-transform: scale(2.2); /* Safari And Chrome */
        transform: scale(2.2); /* Standard Property */
        left: -50px;
      }
    }
    z-index: 1;
  }
  &-container{
    padding-top: 200px;
    padding-bottom: 100px;
    @media screen and (min-width: $screen-sm) {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  &__result-wraper{
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (min-width: $screen-sm) {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  &__result-heading-wrapper{
    margin-bottom: 60px;
    padding-top: 300px;
    @media screen and (min-width: $screen-sm) {
      padding-top: 0px;
    }
  }
  &__step, &__result{
    display: none;
    &.active{
      display: block;
    }
  }
}

.ant-card-body{
  .risk-profile__step{
    max-width: 100%;
    @media screen and (min-width: $screen-md) {
      max-width: 80%;
    }
  }
}
