.bg{
  &-madison{
    background-color: $madison-color;
  }
  &-white{
    background-color: $white-color;
  }
  &-midnight{
    background-color: $midnight-color;
  }
  &-shark{
    background-color: $shark-color;
  }
  &-athens-gray{
    background-color: $athens-gray-color;
  }
  &-outer-space{
    background-color: $outer-space-color;
  }
  &-abbey{
    background-color: $abbey-color;
  }
  &-gray{
    background-color: $gray-color;
  }
  &-light-gray{
    background-color: $light-gray-color;
  }
  &-center{
    background-repeat: no-repeat;
    background-position: center center;
  }
  &-dots{
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right bottom;
    @media screen and (min-width: $screen-xl) {
      background-size: 400px;
    }
  }
}
