.border{
  &-l{
    &-primary{
      border-left: 1px solid $primary-color
    }
  }
  &-0{
    border: 0;
  }
  &-r{
    &-white{
      border-right: 1px dotted $white-color;
    }
    &-primary{
      border-right: 1px dotted $primary-color
    }
  }
  &-b{
    &-0{
      border-bottom: 0;
    }
    &-primary{
      border-bottom: 1px dotted $primary-color
    }
    &-white{
      border-bottom: 1px dotted $white-color;
    }
  }
}
