.btn{
  &-large{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  &-fullwidth{
    width: 100%;
  }
}

.ant-btn{
  &-primary{
    background-color: $primary-color;
    border-color: $primary-color;
    color: $madison-color;
    border-radius: 20px;
    min-width: 140px;
    height: 35px;
    line-height: 35px;
    @media screen and (min-width: $screen-xl) {
      min-width: 160px;
      height: 40px;
      line-height: 40px;
    }
    &:hover{
      color: $primary-color;
      background-color: $madison-color;
      border-color: $madison-color;
    }
  }
  &-secondary{
    background-color: $athens-gray-color;
    border-color: $madison-color;
    color: $madison-color;
    border-radius: 20px;
    min-width: 140px;
    height: 35px;
    line-height: 35px;
    @media screen and (min-width: $screen-xl) {
      min-width: 160px;
      height: 40px;
      line-height: 40px;
    }
    &:hover{
      color: $athens-gray-color;
      background-color: $madison-color;
    }
  }
  &-third{
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
    border-radius: 20px;
    min-width: 140px;
    height: 35px;
    line-height: 35px;
    @media screen and (min-width: $screen-xl) {
      min-width: 160px;
      height: 40px;
      line-height: 40px;
    }
    &:hover{
      color: $madison-color;
      background-color: $primary-color;
    }
  }
  &-small{
    min-width: 110px;
  }
}
