
.invisible {
  opacity: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.z-index-1 {
  z-index: 1;
}

.overflow-none {
  overflow: hidden;
}

.cursor-pointer{
  cursor: pointer;
}

.custom-list-style{
  padding-left: 0px;
  li{
    background: url('../images/Slicing-29.png') no-repeat -5px -6px;
    padding-left: 33px;
    list-style: none;
  }
  &--subheading{
    li{
      background-position: -5px 2px;
    }
  }
  &--heading{
    margin-left: -10px;
    li{
      background-position: -5px 3px;
      @media screen and (min-width: $screen-md) {
        background-position: -5px 13px;
      }
    }
  }
}

.visible-xs{
  display: block;
  @media screen and (min-width: $screen-sm) {
    display: none;
  }
}

.hidden-xs{
  display: none;
  @media screen and (min-width: $screen-sm) {
    display: block;
  }
}


.visible-sm{
  display: block;
  @media screen and (min-width: $screen-md) {
    display: none;
  }
}

.hidden-sm{
  display: none;
  @media screen and (min-width: $screen-md) {
    display: block;
  }
}


.visible-md{
  display: block;
  @media screen and (min-width: $screen-lg) {
    display: none;
  }
}

.hidden-md{
  display: none;
  @media screen and (min-width: $screen-lg) {
    display: block;
  }
}
