.container{
  margin: 0 auto;
  &-standard{
    padding: 6rem 6rem;
  }
  &-tide{
    padding: 0rem 1.5rem;
    max-width: 1600px;
    margin: 0 auto;
    @media screen and (min-width: $screen-md) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @media screen and (min-width: $screen-lg) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @media screen and (min-width: $screen-xl) {
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }
  &-compact{
    padding: 0rem 1.5rem;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    @media screen and (min-width: $screen-sm) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @media screen and (min-width: $screen-xl) {
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
  &-vertical{
    padding-top: 80px;
    padding-bottom: 80px;
    @media screen and (min-width: $screen-xl) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
}
