.form{
  &-default{
    @media screen and (min-width: $screen-xs)  {
      min-width: 500px;
      max-width: 600px;
    }
  }
  &--academy{
    .ant-input{
      border-radius: 20px;
      padding: 20px;
    }
    .ant-form-explain{
      padding: 10px;
    }
  }
}

.ant-form-item{
  margin-bottom: 12px !important;
}
