.layout{
  padding: 0px;
  &-header{
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    @media screen and (min-width: $screen-sm) {
      padding: 0 24px;
    }
    @media screen and (min-width: $screen-xl) {
      height: 97px;
      line-height: 97px;
    }
    &--blue{
      background-color: $midnight-color;
    }
    &.fixed{
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  }
}
.ant{
  &-layout {
    padding: 0px;
    overflow: hidden;
    &-footer {
      padding: 0px 15px 24px 15px;
      @media screen and (min-width: $screen-sm) {
        padding: 24px 50px;
      }
    }
  }
}
