.ant-menu{
  &-item.active{
    color: $primary-color;
  }
  &-horizontal{
    border-bottom: transparent;
  }
  &-footer{
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    @media screen and (min-width: $screen-sm) {
      margin-top: 0px;
    }
    &__item{
      color: $white-color;
      text-decoration: none;
      &-wrapper{
        margin-bottom: 10px;
      }
      &:hover , &.active{
        color: $primary-color;
      }
    }
  }
  &-primary-left{
    padding-left: 10px;
    .ant-menu-item{
      padding: 0 8px;
      color: $white-color;
      font-size: 16px;
      @media screen and (min-width: $screen-xl) {
        padding: 0 5px;
        font-size: 14px;
      }
      @media screen and (min-width: 1400px) {
        font-size: 15px;
        padding: 0 8px;
        .ie &{
          font-size: 14px;
        }
      }
      @media screen and (min-width: $screen-xxl) {
        font-size: 16px;
        padding: 0 12px;
      }
      &-selected, &:hover,&.active{
        background-color: transparent !important;
        color: $primary-color !important;
        border-top: 2px solid $primary-color !important;
      }
    }
  }
  &-mobile{
    .ant-menu-item {
      color: $white-color;
      margin: 10px 0 12px 0;
      &-selected{
        background-color: transparent !important;
        color: $primary-color !important;
        border-right: 2px solid $primary-color !important;
      }
    }
  }
  &-item {
    border-top: 2px solid transparent;
  }
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
  border-bottom: 0;
}

