@mixin background-cover {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

@mixin card-shadows {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}


/* animations */

@mixin fade-in($delay, $duration, $ease) {
  opacity: 0;
  animation-name: fadeIn;
  animation-timing-function: $ease;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}

@mixin fade-in-right($delay, $duration) {
  opacity: 0;
  animation-name: fadeInRight;
  animation-timing-function: ease-out;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(50%, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}

@mixin fade-in-right-pulse($delay, $duration) {
  opacity: 0;
  animation-name: fadeInRightPulse;
  animation-timing-function: ease-out;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;
  @keyframes fadeInRightPulse {
    from {
      opacity: 0;
      transform: translate3d(50%, 0, 0);
    }
    50% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
    75% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}

@mixin fade-in-down($delay, $duration) {
  opacity: 0;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -40%, 0);
    }
    75% {
      opacity: 0.4;
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}


// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}


@mixin font-size($fs-map, $fs-breakpoints: $grid-breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}
