.modal{
  &-close{
    position: relative;
    top: -2px;
  }
  &-global{
    .ant-modal{
      padding-bottom: 0px;
      @media screen and (min-width: $screen-sm) {
        min-width: 600px;
        min-height: 400px;
      }
      @media screen and (min-width: $screen-lg) {
        min-width: 800px;
        min-height: 400px;
      }
    }
    .ant-modal-content{
      border-radius: 0;
    }
    .ant-modal-body{
      padding: 10px;
      background-color: $athens-gray-color;
    }
    .ant-modal-close-x{
      position: absolute;
      top: -30px;
      right: -30px;
      background-color: $abbey-color;
      border-radius: 99999px;
      color: $white-color;
    }
    .modal-content-wrapper{
      position: absolute;
      top: 0px;
      width: 100%;
      padding: 10px 20px;
      background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    }
    .slick-slide{
      position: relative;
    }
  }
}
.ant-modal{
  &--fullpage{
    .ant-modal{
      height: 100%;
      top: 0px;
      padding-bottom: 0;
    }
    .ant-modal-body{
      height: 100%;
    }
    .ant-modal-content{
      height: 100%;
      border-radius: 0;
    }
  }
}
