.text{
  &-right{
    text-align: right;
  }
  &-left{
    text-align: left;
  }
  &-center{
    text-align: center;
  }
  &-active{
    color: $primary-color;
  }
  &-primary{
    color: $primary-color;
  }
  &-abbey{
    color: $abbey-color;
  }
  &-madison{
    color: $madison-color;
  }
  &-light-gray{
    color: $light-gray-color;
  }
  &-gray{
    color: $gray-color;
  }
  &-alto{
    color: $alto-color;
  }
  &-white{
    color: $white-color;
  }
  &-red{
    color: $red-color;
  }
  &-uppercase{
    text-transform: capitalize;
  }
  &-letterspacing-0{
    letter-spacing: 1px;
  }
  &-lineheight-1{
    line-height: 1em;
  }
}
