
h1, h2, h3, h4, h5, h6, small {
  font-family: $font-family-en;
  .zh-CN & {
    font-family: $font-family;
    font-weight: 400;
  }
}
html, body {
  font-family: $font-family-en;
  &.zh-CN{
    font-family: $font-family;
    letter-spacing: 3px;
  }
}

h1, .h1 {
  @include font-size($h1-font-sizes);
}

h2, .h2 {
  @include font-size($h2-font-sizes);
}

h3, .h3 {
  @include font-size($h3-font-sizes);
}

h4, .h4 {
  @include font-size($h4-font-sizes);
  .en-US & {
    font-weight: 300;
  }
}

h5, .h5 {
  @include font-size($h5-font-sizes);
  .en-US & {
    font-weight: 300;
  }
}

p, .p {
  @include font-size($p-font-sizes);
}

small, .small {
  @include font-size($small-font-sizes);
}
