// -------- Colors -----------
$primary-color          : #f8ba16;
$athens-gray-color      : #f1f1f2;
$iron-color             : #d0d2d3;
$outer-space-color      : #30373f;
$shark-color            : #22272d;
$yuma-color             : #ccc598;
$madison-color          : #082659;
$midnight-color         : #02162f;
$abbey-color            : #58595b;
$alto-color             : #dadada;
$gray-color             : #808080;
$light-gray-color       : #b6b8ba;

$info-color             : #d9d9d9;
$success-color          : 'green';
$processing-color       : #d9d9d9;
$error-color            : 'error';
$highlight-color        : #f8ba16;
$warning-color          : #f8ba16;
$normal-color           : #d9d9d9;
$white-color            : #ffffff;
$red-color              : red;

// Base Scaffolding Variables
// ---

// Background color for `<body>`
$body-background        : #fff;
// Base background color for most components
$component-background   : #fff;
$font-family-no-number  : "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family            : 'PingFang-SC-Regular','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important;
$font-family-en         : "helvetica neue", "hiragino sans gb", arial, "microsoft yahei ui", "microsoft yahei", simsun, sans-serif;
$code-family            : Consolas, Menlo, Courier, monospace;
$heading-color          : fade(#000, 85%);
$text-color             : fade(#000, 65%);
$text-color-secondary   : fade(#000, 45%);
$heading-color-dark     : fade(#fff, 100%);
$text-color-dark        : fade(#fff,85%);
$text-color-secondary-dark: fade(#fff, 65%);

$line-height-base       : 1.5;
$border-radius-base     : 4px;
$border-radius-sm       : 2px;
$font-size-base         : 0.625rem !default; // Assumes the browser default, typically `16px`
$null-font-size-ratio   : $font-size-base * 1;
$xs-font-size-ratio     : $font-size-base * 1;
$sm-font-size-ratio     : $font-size-base * 1;
$md-font-size-ratio     : $font-size-base * 0.875;
$lg-font-size-ratio     : $font-size-base * 0.875;
$xl-font-size-ratio     : $font-size-base * 0.875;
$xxl-font-size-ratio    : $font-size-base * 1;

$grid-breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
) !default;

$xl-font-sizes: (
  null  : ((3.2 * $null-font-size-ratio), 1.6),
  xs    : ((3.2 * $xs-font-size-ratio), 1.6),
  sm    : ((3.2 * $sm-font-size-ratio), 1.6),
  md    : ((4.8 * $md-font-size-ratio), 1.6),
  lg    : ((4.8 * $lg-font-size-ratio), 1.6),
  xl    : ((4.8 * $xl-font-size-ratio), 1.6),
  xxl   : ((4.8 * $xxl-font-size-ratio), 1.6)
);
$h1-font-sizes: (
  null  : ((3.0 * $null-font-size-ratio), 1.6),
  xs    : ((3.0 * $xs-font-size-ratio), 1.6),
  sm    : ((3.0 * $sm-font-size-ratio), 1.6),
  md    : ((4.5 * $md-font-size-ratio), 1.6),
  lg    : ((4.5 * $lg-font-size-ratio), 1.6),
  xl    : ((4.5 * $xl-font-size-ratio), 1.6),
  xxl   : ((4.5 * $xxl-font-size-ratio), 1.6)
);
$h2-font-sizes: (
  null  : ((2.4 * $null-font-size-ratio), 1.6),
  xs    : ((2.4 * $xs-font-size-ratio), 1.6),
  sm    : ((2.4 * $sm-font-size-ratio), 1.6),
  md    : ((3.8 * $md-font-size-ratio), 1.6),
  lg    : ((3.8 * $lg-font-size-ratio), 1.6),
  xl    : ((3.8 * $xl-font-size-ratio), 1.6),
  xxl   : ((3.8 * $xxl-font-size-ratio), 1.6)
);
$h3-font-sizes: (
  null  : ((1.8 * $null-font-size-ratio), 1.6),
  xs    : ((1.8 * $xs-font-size-ratio), 1.6),
  sm    : ((1.8 * $sm-font-size-ratio), 1.6),
  md    : ((2.8 * $md-font-size-ratio), 1.6),
  lg    : ((2.8 * $lg-font-size-ratio), 1.6),
  xl    : ((2.8 * $xl-font-size-ratio), 1.6),
  xxl   : ((2.8 * $xxl-font-size-ratio), 1.6)
);
$h4-font-sizes: (
  null  : ((1.6 * $null-font-size-ratio), 1.6),
  xs    : ((1.6 * $xs-font-size-ratio), 1.6),
  sm    : ((1.6 * $sm-font-size-ratio), 1.6),
  md    : ((2.4 * $md-font-size-ratio), 1.6),
  lg    : ((2.4 * $lg-font-size-ratio), 1.6),
  xl    : ((2.4 * $xl-font-size-ratio), 1.6),
  xxl   : ((2.4 * $xxl-font-size-ratio), 1.6)
);
$h5-font-sizes: (
  null  : ((1.4 * $null-font-size-ratio), 1.6),
  xs    : ((1.4 * $xs-font-size-ratio), 1.6),
  sm    : ((1.4 * $sm-font-size-ratio), 1.6),
  md    : ((1.8 * $md-font-size-ratio), 1.6),
  lg    : ((1.8 * $lg-font-size-ratio), 1.6),
  xl    : ((1.8 * $xl-font-size-ratio), 1.6),
  xxl   : ((1.8 * $xxl-font-size-ratio), 1.6)
);
$p-font-sizes: (
  null  : ((1.4 * $null-font-size-ratio), 1.6),
  xs    : ((1.4 * $xs-font-size-ratio), 1.6),
  sm    : ((1.4 * $sm-font-size-ratio), 1.6),
  md    : ((1.6 * $md-font-size-ratio), 1.6),
  lg    : ((1.6 * $lg-font-size-ratio), 1.6),
  xl    : ((1.6 * $xl-font-size-ratio), 1.6),
  xxl   : ((1.6 * $xxl-font-size-ratio), 1.6)
);
$small-font-sizes: (
  null  : ((1.2 * $null-font-size-ratio), 1.4),
  xs    : ((1.2 * $xs-font-size-ratio), 1.4),
  sm    : ((1.2 * $sm-font-size-ratio), 1.4),
  md    : ((1.4 * $md-font-size-ratio), 1.4),
  lg    : ((1.4 * $lg-font-size-ratio), 1.4),
  xl    : ((1.4 * $xl-font-size-ratio), 1.4),
  xxl   : ((1.4 * $xxl-font-size-ratio), 1.4)
);

// vertical paddings
$padding-lg    : 24px; // containers
$padding-md    : 16px; // small containers and buttons
$padding-sm    : 12px; // Form controls and items
$padding-xs    : 8px;  // small items

// vertical padding for all form controls
$control-padding-horizontal: $padding-sm;
$control-padding-horizontal-sm: $padding-xs;

// The background colors for active and hover states for things like
// list items or table cells.
$item-active-bg         : $primary-color;
$item-hover-bg          : $primary-color;

// ICONFONT
$iconfont-css-prefix    : anticon;
$icon-url               : "https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i";

// LINK
$link-color             : $primary-color;
$link-hover-color       : $primary-color;
$link-active-color      : $primary-color;
$link-decoration        : none;
$link-hover-decoration  : none;

// Animation
$ease-out            : cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in             : cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out         : cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back       : cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back        : cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back    : cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ       : cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ        : cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ    : cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint      : cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint       : cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint   : cubic-bezier(0.86, 0, 0.07, 1);

// Media queries breakpoints
// Extra small screen / phone
$screen-xs              : 480px;
$screen-xs-min          : $screen-xs;

// Small screen / tablet
$screen-sm              : 576px;
$screen-sm-min          : $screen-sm;

// Medium screen / desktop
$screen-md              : 768px;
$screen-md-min          : $screen-md;

// Large screen / wide desktop
$screen-lg              : 992px;
$screen-lg-min          : $screen-lg;

// Extra large screen / full hd
$screen-xl              : 1200px;
$screen-xl-min          : $screen-xl;

// Extra extra large screen / large descktop
$screen-xxl              : 1600px;
$screen-xxl-min          : $screen-xxl;

// provide a maximum
$screen-xs-max          : ($screen-sm-min - 1px);
$screen-sm-max          : ($screen-md-min - 1px);
$screen-md-max          : ($screen-lg-min - 1px);
$screen-lg-max          : ($screen-xl-min - 1px);
$screen-xl-max          : ($screen-xxl-min - 1px);

// Grid system
$grid-columns           : 24;
$grid-gutter-width      : 0;

// z-index list
$zindex-affix           : 10;
$zindex-back-top        : 10;
$zindex-modal-mask      : 1000;
$zindex-modal           : 1000;
$zindex-notification    : 1010;
$zindex-message         : 1010;
$zindex-popover         : 1030;
$zindex-picker          : 1050;
$zindex-dropdown        : 1050;
$zindex-tooltip         : 1060;

// Animation
$animation-duration-slow: 3s;
$animation-duration-base: 2s;
$animation-duration-fast: 1s;

